:root {
  --main-bg-color: hsl(177, 69%, 50%);
  --main-heading-color: hsl(177, 100%, 4%);
  --main-text-color: hsl(177, 100%, 7%);
  --lighter-color: hsl(169, 31%, 93%);
  --darker-color: hsl(177, 100%, 18%);
  --accent-color: hsl(322, 100%, 30%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-family: "Hipstelvetica";
  font-weight: 600;
  font-size: 5rem;
  color: var(--main-heading-color);
}

h2 {
  font-size: 3rem;
  color: var(--main-text-color);
}

p{
  font-family: "Chelsea";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* CLASSES */
a {
  font-size: 1.5rem;
  color: var(--darker-color);
}

/* SECTION CLASSES */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

.errorpage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5rem;
  width: 100vw;
  height: 100vh;
  background-image: url('https://stmed.net/sites/default/files/nicolas-cage-wallpapers-27174-4621718.jpg');
  background-size: cover;
}

.formpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}

.form-row-spaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  margin: 1.5rem;
}

.form-row-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin: 1.5rem;
}

/* FORM AND BUTTON STYLES */

#login-form {
  width: 50%;
}

label {
  color: var(--main-text-color);
  font-size: 2rem;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--main-text-color);
  background: transparent;
  width: 50%;
  font-size: 2rem;
}

button {
  padding: 0.5rem;
  width: 50%;
  height: 20%;
  color: white;
  font-size: 2rem;
  background: var(--accent-color);
  border: 2px solid var(--main-heading-color);
}


/* --------------- TYPESTYLES --------------- */
@font-face {
  font-family: Hipstelvetica;
  font-weight: 600;
  src: url("../fonts/Hipstelvetica\ Bold.ttf");
}
@font-face {
  font-family: Hipstelvetica;
  font-weight: 400;
  src: url("../fonts/Hipstelvetica\ Light.ttf");
}
@font-face {
  font-family: Hipstelvetica;
  font-weight: 300;
  src: url("../fonts/Hipstelvetica\ UltraLight.ttf");
}
@font-face {
  font-family: Chelsea;
  font-weight: 400;
  src: url("../fonts/Chelsea.ttf");
