:root {
  --main-bg-color: hsl(177, 69%, 50%);
  --main-heading-color: hsl(177, 100%, 4%);
  --main-text-color: hsl(177, 100%, 7%);
  --lighter-color: hsl(169, 31%, 93%);
  --darker-color: hsl(177, 100%, 18%);
  --accent-color: hsl(322, 100%, 30%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 5rem;
  color: var(--main-heading-color);
}

/* CLASSES */

.errorpage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5rem;
  width: 100vw;
  height: 100vh;
  background-image: url('https://stmed.net/sites/default/files/nicolas-cage-wallpapers-27174-4621718.jpg');
  background-size: cover;
}